/* FONT FAMILY LOCALLY */
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("/assets/fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("/assets/fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url("/assets/fonts/static/Inter-ExtraBold.ttf");
}

/* CSS VARIABLES */
:root {
  /* COLORS */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  /* SCREEN SIZES */

  --Mobile: 23.4375em;
  --laptop: 43.75em;
  --Desktop: 90em;

  /* FONT SIZES */

  --link-font-size: 1rem;
  --paragraph-size: 0.9375rem;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  scroll-behavior: smooth;
  font-size: 100%;
}

/* Default styles */
/* inheritance of from html */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  max-width: 92vw;
  margin-inline: auto;
  font-family: Inter;
  background: var(--Off-white);
}

@media (min-width: 90em) {
  body {
    max-width: 85vw;
  }
}

p {
  font-size: var(--paragraph-size);
  color: var(--Grayish-blue);
}

a:not(.icon) {
  font-size: var(--link-font-size);
}

/* HEADER SECTION STARTS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  height: auto;
}

@media (min-width: 43.75em) {
  .header {
    margin-top: 3rem;
    margin-bottom: 0.6rem;
  }
}

.icon {
  width: 3.5rem;
}

@media (max-width: 43.75em) {
  .icon {
    width: 2.8125rem;
  }
}

/* menu hamburger */

.menu-icon span {
  height: 2px;
  width: 34px;
  display: block;
  background: black;
  transition: all 300ms ease-in-out;
  transform-origin: 7px 1px;
}
.menu-icon span:not(:last-child) {
  margin-bottom: 5px;
}

/* nav items starts here */

.nav ul {
  display: flex;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  transition: all 200ms ease-in-out;
}

ul li:not(:last-child) {
  margin-right: 2rem;
}

ul li a:hover {
  color: var(--soft-red);
}

/* sidenav style */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: var(--Off-white);
  overflow-x: hidden;
  transition: all 300ms ease-in-out;
  padding-top: 6rem;
}

.sidenav a {
  padding: 0.625rem 0.625rem 0.625rem 1.4rem;
  text-decoration: none;
  color: var(--Very-dark-blue);
  display: block;
  transition: all 250ms ease-in-out;
}

.sidenav a:not(:first-child):hover {
  color: var(--soft-red);
}

.sidenav .closebtn span {
  position: absolute;
  top: 2.7rem;
  left: 4rem;
  margin-left: 10rem;
  height: 2px;
  width: 34px;
  display: block;
  background: black;
  transition: all 300ms ease-in-out;
  transform-origin: 17px 1px;
}

.sidenav span:first-child {
  transform: rotate(45deg);
}
.sidenav span:nth-child(2) {
  opacity: 0;
}
.sidenav span:last-child {
  transform: rotate(-45deg);
}

/* nav items ends here */

/* HEADER SECTION ENDS */

/*

============================
SPECIAL STYLES
============================

*/

/* hide and display of nav-icon on mobile and desktop */

@media (min-width: 43.75em) {
  body {
    background: var(--Off-white) !important;
  }
  .hide-for-desktop {
    display: none;
  }
  .sidenav {
    display: none;
  }
}

@media (max-width: 43.75em) {
  .hide-for-mobile {
    display: none;
  }
}
