/* FONT FAMILY LOCALLY */
@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url("/assets/fonts/static/Inter-Regular.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url("/assets/fonts/static/Inter-Bold.ttf");
}
@font-face {
  font-family: Inter;
  font-weight: 800;
  src: url("/assets/fonts/static/Inter-ExtraBold.ttf");
}

/* CSS VARIABLES */
:root {
  /* COLORS */

  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --Off-white: hsl(36, 100%, 99%);
  --Grayish-blue: hsl(233, 8%, 79%);
  --Dark-grayish-blue: hsl(236, 13%, 42%);
  --Very-dark-blue: hsl(240, 100%, 5%);

  /* SCREEN SIZES */

  /* --Mobile: 23.4375em;
  --laptop: 43.75em;
  --s-laptop: 31.25em;
  --x-laptop: 56.25em;
  --xx-laptop: 70em;
  --Desktop: 90em; */

  /* FONT SIZES */

  --link-font-size: 1rem;
  --paragraph-size: 0.9375rem;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  scroll-behavior: smooth;
}

/* Default styles */
/* inheritance of from html */

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  max-width: 92vw;
  margin-inline: auto;
  font-family: Inter;
  background: var(--Off-white);
  word-spacing: 1.3px;
  letter-spacing: 0.3px;
  line-height: 1.7;
}

@media (min-width: 90em) {
  body {
    max-width: 80vw;
  }
}

p {
  font-size: 0.9rem;
  color: var(--Grayish-blue);
}

a:not(.icon) {
  font-size: var(--link-font-size);
  text-decoration: none;
}

/* HEADER SECTION STARTS */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.8rem;
  padding-bottom: 1.8rem;
  height: auto;
}

@media (min-width: 43.75em) {
  .header {
    margin-top: 2.8rem;
    margin-bottom: 0.6rem;
  }
}

.icon {
  width: 3.5rem;
}

@media (max-width: 43.75em) {
  .icon {
    width: 2.8125rem;
  }
}

/* menu hamburger */

.menu-icon span {
  height: 2px;
  width: 34px;
  display: block;
  background: black;
  transition: all 300ms ease-in-out;
  transform-origin: 7px 1px;
}
.menu-icon span:not(:last-child) {
  margin-bottom: 5px;
}

/* nav items starts here */

.nav ul {
  display: flex;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  color: var(--Dark-grayish-blue);
  transition: all 200ms ease-in-out;
}

ul li:not(:last-child) {
  margin-right: 2rem;
}

ul li a:hover {
  color: var(--soft-red);
}

/* sidenav style */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background: var(--Off-white);
  overflow-x: hidden;
  transition: all 300ms ease-in-out;
  padding-top: 6rem;
  z-index: 10;
}
.sidenav::after {
  opacity: 1;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  z-index: 9;
}

.sidenav a {
  padding: 0.625rem 0.625rem 0.625rem 1.4rem;
  text-decoration: none;
  color: var(--Very-dark-blue);
  display: block;
  transition: all 250ms ease-in-out;
}

.sidenav a:not(:first-child):hover {
  color: var(--soft-red);
}

.sidenav .closebtn {
  position: absolute;
  top: 2.7rem;
  left: 4rem;
  margin-left: 10rem;
  display: block;
  cursor: pointer;
}

/* nav items ends here */

/* HEADER SECTION ENDS */

/* MAIN SECTION STYLES STARTS HERE */

.main {
  padding-bottom: 4rem;
}
.article {
  display: grid;
  grid-template-areas:
    "a a a a" "a a a a" "a a a a" "b b b b" "b b b b"
    "b b b b" "c c c c" "c c c c" "c c c c" "c c c c" "d d d d"
    "d d d d" "d d d d" "d d d d";
  gap: 1.25rem;
}

.image {
  grid-area: a;
  background-image: url("/assets/images/image-web-3-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 18.75rem;
  min-width: 17.5rem;
}

.description {
  grid-area: b;
  display: grid;
  gap: 1rem;
  margin-bottom: 1.3rem;
}
.text-desc {
  display: grid;
  gap: 1rem;
}
.description .heading {
  font-size: 2.5rem;
  line-height: 1.1;
}

.description p {
  color: var(--Dark-grayish-blue);
}

.description button {
  padding: 0.875rem 1.875rem;
  font-size: 1rem;
  border: none;
  background: var(--soft-red);
  color: var(--Off-white);
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 5px;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
button:hover {
  background: var(--Very-dark-blue);
  color: var(--Off-white);
}

.update {
  grid-area: c;
  display: grid;
  gap: 1.25rem;
  background: var(--Very-dark-blue);
  padding: 1.25rem;
}
.update h3 {
  font-size: 2rem;
  color: var(--soft-orange);
}

.update h5 {
  font-size: 1.2rem;
  color: var(--Off-white);
  transition: 200ms ease-in-out;
}
h5:hover {
  color: var(--soft-orange);
}

.one {
  padding-top: 1rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid var(--Off-white);
}

.one:last-child {
  border: none;
  padding-bottom: 0.5rem;
}

.blogs {
  grid-area: d;
  display: grid;
  gap: 1.2rem;
}
.flex {
  display: flex;
  gap: 1.3rem;
}
.flex img {
  width: 7rem;
  height: 7.8rem;
}

.numbers {
  font-size: 2rem;
  font-weight: 700;
  color: var(--Grayish-blue);
}
.flex h6 {
  font-size: 1rem;
  color: var(--Very-dark-blue);
  transition: 200ms ease-in-out;
}
h6:hover {
  color: var(--soft-red);
}

.flex p {
  color: var(--Dark-grayish-blue);
}

.attribution {
  font-size: 0.7rem;
}
.attribution a {
  font-size: 0.7rem;
}

/* MAIN SECTION STYLES ENDS HERE */

/*

============================
SPECIAL STYLES
============================

*/

/* hide and display of nav-icon on mobile and desktop */

@media (max-width: 43.75em) {
  .hide-for-mobile {
    display: none;
  }
}

/* grid template areas breakpoints */

@media (min-width: 43.75em) {
  body {
    background: var(--Off-white) !important;
  }
  .hide-for-desktop {
    display: none;
  }
  .sidenav {
    display: none;
  }
  .article {
    grid-template-areas:
      "a a a b" "a a a b" "a a a b"
      "c c c c" "c c c c" "c c c c" "c c c c"
      "d d d d" "d d d d" "d d d d" "d d d d";
  }
  .description {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 56.25em) {
  .article {
    grid-template-areas:
      "a a a b" "a a a b" "a a a b"
      "c c d d" "c c d d" "c c d d";
  }
}

@media (min-width: 78.9em) {
  body {
    max-width: 90vw;
  }
  .image {
    background-image: url("/assets/images/image-web-3-desktop.jpg");
  }
  .article {
    grid-template-areas:
      "a a a a c c"
      "b b b b c c"
      "d d d d d d";
  }

  .description {
    display: flex;
    flex-direction: row;
    gap: 7rem;
  }
  .blogs {
    display: flex;
  }
}
@media (min-width: 90em) {
  body {
    max-width: 80vw;
  }
}

/* exeptions breakpoint */

@media (min-width: 31.25em) {
  .description {
    display: flex;
  }
  .description .heading {
    font-size: 3rem;
  }
}
